@keyframes bubbleanimation {
    30%{
        border-radius: 60% 50% 60% 50% / 50% 60% 50% 60%;
    }
    50%{
        border-radius: 70% 40% 70% 40% / 40% 70% 40% 70%;
    }
    70%{
        border-radius: 40% 60% 47% 53% / 66% 29% 71% 34% ;
    }
}