:root {
    --main-transition-time: 15s;

    //--color-primary: #111;
    //--color-secondary: #dadada;
    //--color-third: ;

    --font-family-primary: 'Inter', serif;
    --font-family-secondary: 'Nunito', sans-serif;
}